{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fishshop</title>
    <style>
        body{
            background-color: rgb(37, 124, 20);  
            color: white;  
            font-family: Ink Free, sans-serif;  
            text-align: center;   
            padding: 50px; 
        }
</style>
</head>

<body>
    
    <center><h1>Магазин аксессуаров для рыбалки</h1>
    <img  src="{% static 'img/salmo.png' %}"  width="900" height="500"alt="photo" >  
    

      <h2>Больше информации о нас:</h2> 
      <a href="https://www.salmo.by/?srsltid=AfmBOorK6ctFK3KR0yPAQLk_-mb3ln30L5-9vyCb-oySW4rHkl-HwbVD" style="color: rgb(10, 255, 10); font-size: 20px;">https://www.salmo.by</a>
      <h2>Связаться с нами: +375 (44) 736-11-22</h2>
      <a href="http://127.0.0.1:8000" style="color: black"> Вернуться на главную страницу</a>
    </center>
    
</body>
</html>